@model IEnumerable<IpekStore.Web.Models.VM.Category.CategoryVM>

@{
    ViewData["Title"] = "Kayıtlı Kategoriler";
}

@using IpekStore.Web.CustomMvcHelpers

<h1>Kayıtlı Kategoriler</h1>

<p class="text-right">
    <a asp-action="Create" class="btn btn-primary"><i class="fa fa-plus"></i></a>
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.BoolToTextFor(m => item.Status, "Aktif", "Pasif")
                </td>
                <td>
                    <a asp-controller="Category"
                       asp-action="Edit"
                       asp-route-id="@item.Id"
                       class="btn btn-success">
                        <i class="fa fa-edit"></i>
                    </a>

                    @*<form asp-action="Delete" method="post">
                            <input type="hidden" name="id" value="@item.Id" />
                            <button type="submit"><i class="fa fa-trash"></i></button>
                        </form>*@

                    <a href="#" class="btn btn-danger delete" data-id="@item.Id">
                        <i class="fa fa-trash"></i>
                    </a>

                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        $().ready(function () {
            $(".delete").click(function () {
                var deleteButton = $(this);
                $.AjaxTableDelete(
                    '@Url.Action("Delete","Category")',
                    'Kategori silenecek. Devam etmek ister misiniz?',
                    $(this).data('id'),
                    function (result) {
                        if (result.status == STATUS.Ok) {
                            $.ShowSuccess(result.result.name + ' isimli kategori silindi')
                            $(deleteButton).parent().parent().hide(400, function () {
                                $(this).remove();
                            });
                        }
                        else {
                            $.ShowError('Silme işlemi esnasında bir hata oluştu.<br/>' + result.Message);
                        }
                    }
                )
            });
        })
    </script>
}
